/* AddVehicleStyles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea,
button,
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    margin-top: 10px;
}

body {
    background-color: #cfcfcf; 
}


input[type="submit"] {
    background-color: rgb(0, 174, 0); /* Green background color */
    color: white; /* White text color */
    padding: 10px 20px; /* Padding for better appearance */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor style */
    width: 400px; /* Increased width */
}

/* Hover effect for the submit button */
input[type="submit"]:hover {
    background-color: darkgreen; /* Darker green on hover */
}

.submit-container {
    text-align: center; /* Center align its contents */
}